<html>

<body>
    <script>
        (function () {
            function recieveMessage(e) {
                console.log("recieveMessage %o", e)
                if (!e.origin.match('{{ originPattern | raw }}')) {
                    console.log('Invalid origin: %s', e.origin);
                    return;
                }
                // send message to main window with the app
                window.opener.postMessage(
                    'authorization:{{ oauthProvider }}:{{ message|raw }}:{{ content | raw }}',
                    e.origin
                )
            }
            window.addEventListener("message", recieveMessage, false)
            // Start handshake with parent
            console.log("Sending message: %o", "{{ oauthProvider }}")
            window.opener.postMessage("authorizing:{{ oauthProvider }}", "*")
        })()
    </script>
</body>

</html>